include "System/workspace.kdl"

include "Game/workspace.kdl"

// include "Record/workspace.kdl"

include "Chat/workspace.kdl"

include "Files/workspace.kdl"

include "Browse/workspace.kdl"

include "Work/workspace.kdl"

include "Task/workspace.kdl"
