spawn-sh-at-startup "systemctl --user start plasma-polkit-agent.service"
spawn-sh-at-startup "waybar -c ~/.config/waybar/niri/config.jsonc -s ~/.config/waybar/niri/style.css"
spawn-at-startup "mako"
spawn-at-startup "kdeconnect-indicator"

spawn-sh-at-startup "swaybg -i ~/.config/niri/wallpapers/Niko1.png"

spawn-sh-at-startup "python3 ~/.config/niri/config/scripts/niri_tile_to_n.py"
