
window-rule {
    match app-id="kitty"
    default-column-width { proportion 0.5; }
    opacity 1.0

    focus-ring {
        width 1.5
    }
}

window-rule {
    match app-id="kitty" title=r#"^nvim.*.*$"#
    default-column-width { proportion 1.0; }
    opacity 0.85
}
window-rule {
    match app-id="kitty" title=r#"^vim.*.*$"#
    default-column-width { proportion 1.0; }
    opacity 0.85
}

window-rule {
    match app-id="kitty" title="btop"
    default-column-width { proportion 1.0; }
    opacity 1.0
}
