
window-rule {
    match app-id="org.telegram.desktop"
    default-column-width { proportion 1.0; }
    opacity 0.92

    background-effect {
        blur true
    }
}

window-rule {
    match app-id=r#"^org\.telegram\.desktop$"# title=r#"^Media viewer$"#
    open-fullscreen true
    opacity 1.0
}
