window-rule {
    match app-id="vesktop"
    default-column-width { proportion 1.0; }

    geometry-corner-radius 0

    background-effect {
        blur true
    }

    block-out-from "screencast"
}
