window-rule {
    match app-id="vesktop"
    default-column-width { proportion 1.0; }

    background-effect {
        blur false
    }

    block-out-from "screencast"

    focus-ring {
        width 1.0
        inactive-color "#50005000"
        active-color "#50005000"
    }

    shadow {
        off
    }
}
