
window-rule {
    match at-startup=true app-id="Alacritty" title="btop"
    open-focused true
    open-maximized true
    open-on-workspace "System"
}

window-rule {
    match at-startup=true app-id=r#"^org\.keepassxc\.KeePassXC$"# title=r#".*.kdbx \[Locked\] - KeePassXC"#
    default-column-width { proportion 1.0; }
    open-focused false
    open-on-workspace "System"
}

spawn-sh-at-startup "alacritty -T \"btop\" -e btop & sleep 1 && keepassxc &"
