environment {
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt5ct"
    QT_STYLE_OVERRIDE "kvantum"
    MOZ_ENABLE_WAYLAND "1"
}

cursor {
    xcursor-theme "Sweet-cursors"
}

hotkey-overlay {
    skip-at-startup
}

debug {}

spawn-at-startup "systemctl" "--user" "start" "polkit-gnome"
spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "kdeconnect-indicator"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot-%Y-%m-%d-%H-%M-%S.png"

spawn-at-startup "swaybg" "-i" "/home/d-arrow/.wallpapers/Niko1.png"

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
    draw-border-with-background false
    default-column-width { proportion 0.5; }
}

window-rule {
    match is-floating=true
    baba-is-float false
    default-floating-position x=0 y=0 relative-to="top"
}

workspace "System"
window-rule {
    match at-startup=true app-id="kitty" title="btop"
    open-focused false
    default-column-width { proportion 1.0; }
    open-on-workspace "System"
}

window-rule {
    match at-startup=true app-id=r#"^org\.keepassxc\.KeePassXC$"# title=r#".*.kdbx \[Locked\] - KeePassXC"#
    default-column-width { proportion 1.0; }
    open-focused false
    open-on-workspace "System"
}

spawn-at-startup "kitty" "btop"
spawn-at-startup "kitty"
spawn-at-startup "keepassxc"



workspace "Files"
window-rule {
    match at-startup=true app-id="org.kde.dolphin"
    default-column-width { proportion 1.0; }
    open-focused false
    open-on-workspace "Files"
}

spawn-sh-at-startup "dolphin /home/d-arrow"


workspace "Chat"
window-rule {
    match at-startup=true app-id=r#"^org\.telegram\.desktop$"#
    exclude title="^Media viewer$"
    open-maximized true
    open-focused false
    open-on-workspace "Chat"
}
window-rule {
    match at-startup=true app-id="vesktop"
    open-maximized true
    open-focused false
    open-on-workspace "Chat"
}
spawn-at-startup "telegram-desktop"
spawn-at-startup "vesktop"


workspace "Game"
window-rule {
    match at-startup=true app-id="net.lutris.Lutris"
    open-maximized true
    open-focused false
    open-on-workspace "Game"
}

spawn-at-startup "lutris"


workspace "Virtual"
window-rule {
    match at-startup=true app-id="virt-manager"
    open-maximized true
    open-focused false
    open-on-workspace "Virtual"
}
spawn-sh-at-startup "virt-manager"



workspace "Web"
window-rule {
    match at-startup=true app-id="zen"
    open-maximized true
    open-on-workspace "Web"
}
spawn-at-startup "zen-browser"



workspace "Edit"
window-rule {
    match at-startup=true app-id="kitty" title="nvim"
    default-column-width { proportion 1.0; }
    open-maximized true
    open-on-workspace "Edit"
}

overview {
    zoom 0.35
}

gestures {
    hot-corners {
        
    }
}

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle, ctrl:nocaps"
        }
        numlock
    }

    touchpad {
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="51%"
}

layout {
    background-color "transparent"
    gaps 29

    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.5
        proportion 0.9
        proportion 1.0
    }

    preset-window-heights{
        proportion 0.2
        proportion 0.5
        proportion 1.0
    }

    default-column-width {}

    focus-ring {
        off
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        
        width 1.0
        inactive-color "#50005035"
        active-gradient from="#72359c3f" to="5f28815f" in="oklch longer hue" relative-to="workspace-view"
        urgent-gradient from="#daaa5688" to="daaa56ff"
    }

    shadow {
        on
        draw-behind-window false
        softness 7
        spread 3
        offset x=0 y=0
        color "#070017ff"
    }

    struts {
        
        
        top -3
        bottom 10
    }

    insert-hint {
        gradient from="#72359caa" to="5f2881ff" in="oklch shorter hue"
    }

    tab-indicator {
        corner-radius 20
        length total-proportion=0.5
        width 10
        active-gradient from="#72359c7a" to="5f28817a" in="oklch longer hue"  relative-to="workspace-view"
    }
}


animations {

    slowdown 1.0

    workspace-switch {
        duration-ms 275
        curve "ease-out-expo"
    }

    window-open {
        spring damping-ratio=1.0 stiffness=5000 epsilon=0.0001
    }

    window-close {
        spring damping-ratio=0.5 stiffness=800 epsilon=0.0001
    }

    horizontal-view-movement {
        spring damping-ratio=0.9 stiffness=900 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.85 stiffness=1200 epsilon=0.001
    }

    window-resize {
        spring damping-ratio=0.65 stiffness=1200 epsilon=0.001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        duration-ms 260
        curve "ease-out-expo"
    }
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"# title="^Unlock Database - KeePassXC$"

    open-focused true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id="kitty"
    default-column-width { proportion 0.5; }
    opacity 1.0
}

window-rule {
    match app-id="virt-manager"
    opacity 0.9
}

window-rule {
    match app-id="kitty" title=r#"^nvim.*.*$"#
    default-column-width { proportion 0.5; }
    opacity 0.85
}
window-rule {
    match app-id="kitty" title=r#"^vim.*.*$"#
    default-column-width { proportion 0.5; }
    opacity 0.85
}

window-rule {
    match title=r#"yay.*"#
    default-column-width { fixed 800; }
    default-window-height { fixed 800; }
    open-floating true
}

window-rule {
    match app-id="codium"
    default-column-width { proportion 1.0; }
    opacity 0.95
}

window-rule {
    match title="btop"
    open-maximized true
    default-column-width { proportion 1.0; }
    opacity 0.85
}

window-rule {
    match app-id="org.telegram.desktop"
    default-column-width { proportion 1.0; }
    opacity 0.92
}


binds {
    Mod+Ctrl+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+Space hotkey-overlay-title="Run an Application runner" { spawn-sh "wofi --show drun"; }
    Super+Control+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "blight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "blight" "set" "-5%"; }
    Shift+XF86MonBrightnessUp allow-when-locked=true { spawn "blight" "set" "+100%"; }
    Shift+XF86MonBrightnessDown allow-when-locked=true { spawn "blight" "set" "-100%"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+O repeat=false { toggle-overview; }


    Mod+Escape { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H { set-column-width "-10%"; }
    Mod+Shift+J { set-window-height "-10%"; }
    Mod+Shift+K { set-window-height "+10%"; }
    Mod+Shift+L { set-column-width "+10%"; }

    Mod+Alt+H     { move-column-left; }
    Mod+Alt+J     { move-window-down; }
    Mod+Alt+K     { move-window-up; }
    Mod+Alt+L     { move-column-right; }

    Mod+Comma     { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }
    Mod+Alt+Comma     { consume-or-expel-window-left; }
    Mod+Alt+Period { consume-or-expel-window-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Left     { focus-monitor-left; }
    Mod+Down     { focus-monitor-down; }
    Mod+Up     { focus-monitor-up; }
    Mod+Right     { focus-monitor-right; }

    Mod+Alt+Left  { move-workspace-to-monitor-left; }
    Mod+Alt+Down  { move-workspace-to-monitor-down; }
    Mod+Alt+Up    { move-workspace-to-monitor-up; }
    Mod+Alt+Right { move-workspace-to-monitor-right; }

    Mod+N              { focus-workspace-down; }
    Mod+P              { focus-workspace-up; }
    Mod+Alt+N         { move-window-to-workspace-down; }
    Mod+Alt+P         { move-window-to-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Alt+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Alt+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Alt+WheelScrollRight { move-column-right; }
    Mod+Alt+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Alt+Shift+WheelScrollDown { move-column-right; }
    Mod+Alt+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Alt+1 { move-column-to-workspace 1; }
    Mod+Alt+2 { move-column-to-workspace 2; }
    Mod+Alt+3 { move-column-to-workspace 3; }
    Mod+Alt+4 { move-column-to-workspace 4; }
    Mod+Alt+5 { move-column-to-workspace 5; }
    Mod+Alt+6 { move-column-to-workspace 6; }
    Mod+Alt+7 { move-column-to-workspace 7; }
    Mod+Alt+8 { move-column-to-workspace 8; }
    Mod+Alt+9 { move-column-to-workspace 9; }

    Mod+S {focus-workspace "System"; }
    Mod+F {focus-workspace "Files"; }
    Mod+C {focus-workspace "Chat"; }
    Mod+G {focus-workspace "Game"; }
    Mod+V {focus-workspace "Virtual"; }
    Mod+W {focus-workspace "Web"; }
    Mod+E {focus-workspace "Edit"; }

    Mod+Alt+S {move-column-to-workspace "System"; }
    Mod+Alt+F {move-column-to-workspace "Files"; }
    Mod+Alt+C {move-column-to-workspace "Chat"; }
    Mod+Alt+G {move-column-to-workspace "Game"; }
    Mod+Alt+V {move-column-to-workspace "Virtual"; }
    Mod+Alt+W {move-column-to-workspace "Web"; }
    Mod+Alt+E {move-column-to-workspace "Edit"; }


    Mod+Tab { focus-workspace-previous; }


    Mod+Shift+R { switch-preset-column-width; }
    Mod+Shift+V { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Shift+M { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    
    Mod+Shift+E { expand-column-to-available-width; }
    Mod+Shift+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Shift+Space       { toggle-window-floating; }
    Mod+Alt+Tab { switch-focus-between-floating-and-tiling; }
    
    Mod+Shift+Tab { toggle-column-tabbed-display; }

    Mod+Ctrl+S { screenshot; }
    Mod+Ctrl+A { screenshot-screen; }
    Mod+Ctrl+W { screenshot-window; }

    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    
    Ctrl+Alt+Escape { quit; }
    Mod+Shift+F1 { power-off-monitors; }

}

spawn-at-startup "niri" "msg" "action" "focus-workspace" "System"
