* {
	font-family: "JetBrainsMono Nerd Font Mono", "FontAwesome 6 Free", "Symbols Nerd Font Mono";
	min-height: 0;
}

window {
	color: @theme_text_color;
	background: transparent;
	font-weight: normal;
	padding: 0px 0px;
}

window#waybar {
	opacity: 1;
	transition-duration: 0.3s;
	transition-property: window;
	transition-duration: 0.3s;

	background: alpha(@theme_base_color, 0.4);

	border-radius: 0px;
	border-width: 1px;

	border-bottom: 1px solid alpha(@borders, 0.45);

	box-shadow: 0px 0px 0px #070017;

	letter-spacing: 1px;

	padding-left: 0px;
	padding-right: 0px;

	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

window#waybar.hidden {
	transition-duration: 1.0s;
}

box.modules-left {
	background: alpha(@theme_base_color, 0.0);

	border-radius: 12px;
	border-width: 1px;

	border: 1px solid alpha(@borders, 0.0);

	box-shadow: 0px 0px 0px #070017;

	letter-spacing: 1px;

	padding-left: 0px;
	padding-right: 0px;

	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;

}

#custom-menu {
	transition-duration: 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 5px;
	
}

#custom-menu:hover {
	transition-duration: 0.3s;
	text-shadow: 1px 1px 2px @borders;
	color: @theme_selected_bg_color;
}

#custom-updates.updated {
	margin-left: -10px;
	margin-right: -10px;
}

#custom-updates {
	transition-duration: 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 0px;
	letter-spacing: -1px;
}

#custom-updates:hover {
	transition-duration: 0.3s;
	text-shadow: 1px 1px 2px @borders;
	color: @theme_selected_bg_color;
}

#workspaces button {
	all: initial;
	transition-duration: 0.3s;

	border: 1px solid transparent;
	letter-spacing: -1px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	margin-right: 0px;

	padding: 0px 10px;

}

#workspaces button.focused {
	transition-duration: 0.3s;

	box-shadow: inset 0 -3px @theme_selected_bg_color;

	border-radius: 0px;

	opacity: 1.0;
}


#workspaces button.focused:hover {
	transition-duration: 0.3s;
	background: alpha(@theme_selected_bg_color, 1.0);

	border-radius: 3px;
	border: 1px solid @theme_selected_bg_color;

	opacity: 1.0;
}

#workspaces button.urgent {
	transition-duration: 0.3s;

	box-shadow: inset 0 -3px #e8c060;

	border-radius: 0px;
}

#workspaces button:hover {

	transition-duration: 0.3s;
	background: alpha(@theme_selected_bg_color, 1.0);

	box-shadow: inset 0 -3px @theme_selected_bg_color;

	border-radius: 3px;

	border: 1px solid alpha(@theme_selected_bg_color, 0.2);

	opacity: 1.0;
}



box.modules-center {
	all: initial;
	background: alpha(@theme_base_color, 0.0);

	border-radius: 12px;
	border-width: 1px;

	border: 1px solid alpha(@borders, 0.0);

	box-shadow: 0px 0px 0px #070017;

	letter-spacing: 1px;

	padding-left: 2mm;
	padding-right: 2mm;

	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;

}



box.modules-right {
	all: initial;
	background: alpha(@theme_base_color, 0.0);

	border-radius: 12px;
	border-width: 1px;

	border: 1px solid alpha(@borders, 0.0);

	box-shadow: 0px 0px 0px #070017;

	letter-spacing: 1px;

	padding-left: 2mm;
	padding-right: 2mm;

	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;

}

#mpris {
	letter-spacing: -1px;
	font-size: 9pt;
}

#backlight {
	background: transparent;
	
	padding: 0px 5px;
	margin: 0px 10px;
}

#network-zapret {
	background: transparent;
	
	padding: 0px 5px;
	margin: 0px 10px;
}

#network {
	background: transparent;
	
	padding: 0px 0px;
	margin: 0px 0px;
}

#custom-zapret-status {
	background: transparent;
	letter-spacing: -1px;
	
	padding: 0px 0px;
	margin: 0px 5px;
}

#pulseaudio {
	background: transparent;
	
	padding: 0px 0px;
	margin: 0px 0px;
}

#pulseaudio.mic {
	background: transparent;
	
	padding: 0px 0px;
	margin-right: 0px;
}

#sound {
	background: transparent;
	
	padding: 0px 5px;
	margin: 0px 10px;
}

#cpu-temp {
	background: transparent;
	
	transition-duration: 0.3s;
	padding: 0px 5px;
	margin: 0px 10px;
}

#cpu {
	background: transparent;
	
	transition-duration: 0.3s;
	padding: 0px 0px;
	margin: 0px 0px;
}

#cpu:hover {
	background: transparent;
	transition-duration: 0.3s;
	color: #F2CFA7;
}

#cpu.critical {
	background: transparent;
	transition-duration: 0.3s;
	box-shadow: inset 0 -3px #822A31;
}

#cpu.critical:hover {
	background: transparent;
	transition-duration: 0.3s;
	color: #822A31;
}

#temperature {
	background: transparent;
	
	transition-duration: 0.3s;
	padding: 0px 0px;
	margin-right: 5px;
}

#temperature:hover {
	background: transparent;
	transition-duration: 0.3s;
	color: #3664A5;
}

#temperature.critical {
	background: transparent;
	transition-duration: 0.3s;
	box-shadow: inset 0 -3px #822A31;
}

#temperature.critical:hover {
	background: transparent;
	transition-duration: 0.3s;
	box-shadow: inset 0 -3px #822A31;
	color: #822A31;
}

#battery {
	background: transparent;
	
	transition-duration: 0.3s;
	padding: 0px 5px;
	margin: 0px 10px;
}

#battery.good:hover {
	background: transparent;
	transition-duration: 0.3s;
	color: #7FAB7D;
}

#battery.warning:hover {
	background: transparent;
	transition-duration: 0.3s;
	color: #F6C080;
}

#battery.critical {
	background: transparent;
	transition-duration: 0.3s;
	box-shadow: inset 0 -3px #822A31;
}

#battery.critical:hover {
	background: transparent;
	transition-duration: 0.3s;
	color: #822A31;
}

#battery.charging:hover {
	background: transparent;
	transition-duration: 0.3s;
	color: #7FAB7D;
}

#memory {
	background: transparent;
	
	transition-duration: 0.3s;
	padding: 0px 5px;
	margin: 0px 10px;
}

#memory:hover {
	background: transparent;
	transition-duration: 0.3s;
	color: #F0EEA5;
}

#tray {
	background: transparent;
	
	padding: 0px 5px;
	margin: 0px 10px;
}

#tray menu {
	border: 1px solid @borders;
	border-radius: 0px;
}

#clock {
	padding: 0px 5px;
	margin: 0px 10px;
}

#language {
	padding: 0px 5px;
	margin: 0px 10px;

	letter-spacing: 0px;
}

/*
#tray menuitem:hover {
transition-duration: 0.2s;
background: #6D39AF;
border: 0px solid rgba(109, 57, 175, 0.2);
border-radius: 12px;
}
*/

tooltip {
	background: alpha(@theme_base_color, 1.0);
	border: 1px solid @borders;
	border-radius: 0px;
}
