* {
	font-family: "JetBrainsMono Nerd Font Mono", "FontAwesome 6 Free", "Symbols Nerd Font Mono";
	min-height: 0;
}

window {
	color: @theme_text_color;
	background: transparent;
	font-weight: normal;
	padding: 0px 0px;
}

window#waybar {
	opacity: 1;
	transition-duration: 1.0s;
	transition-property: window;
	transition-duration: .5s;

	background: alpha(@theme_base_color, 0.3);

	border-radius: 0px;
	border-width: 1px;

	border: 0px solid alpha(@borders, 0.4);

	box-shadow: 0px 0px 0px #070017;

	letter-spacing: 1px;

	padding-left: 0px;
	padding-right: 0px;

	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

window#waybar.hidden {
	transition-duration: 1.0s;
}

box.modules-left {
	background: alpha(@theme_base_color, 0.0);

	border-radius: 12px;
	border-width: 1px;

	border: 1px solid alpha(@borders, 0.0);

	box-shadow: 0px 0px 0px #070017;

	letter-spacing: 1px;

	padding-left: 0px;
	padding-right: 0px;

	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;

}

#custom-menu {
	transition-duration: 0.5s;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
	margin-right: 5px;
	
}

#custom-menu:hover {
	transition-duration: 0.5s;
	text-shadow: 1px 1px 2px @borders;
	color: @theme_selected_bg_color;
}


#workspaces button {
	all: initial;
	transition-duration: 0.5s;

	border: 1px solid transparent;
	letter-spacing: -1px;

	border-radius: 2px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 0px;

	padding: 0px 10px;
}

#workspaces button.active {
	transition-duration: 1.0s;
	background: alpha(@theme_selected_bg_color, 1.0);

	border-radius: 7px;

	border: 1px solid @borders;

	opacity: 1.0;
}

#workspaces button.special {
	transition-duration: 0.5s;

}


#workspaces button.active:hover {
	transition-duration: 1.0s;
	background: alpha(@theme_selected_bg_color, 1.0);

	border-radius: 6px;
	/*
border-left: 1px solid rgba(109, 57, 175, 0.15);
border-right: 1px solid rgba(109, 57, 175, 0.15);
border-top: 1px solid rgba(109, 57, 175, 0.15);
border-bottom: 1px solid rgba(109, 57, 175, 0.15);
*/
	border: 1px solid @theme_selected_bg_color;

	opacity: 1.0;
}

/*
#workspaces button.urgent {
	transition-duration: 0.2s;
	background: #e8c060;

	border-radius: 5px;

	border-left: 1px solid #000027;
	border-right: 1px solid #000027;
	border-top: 1px solid #000027;
	border-bottom: 1px solid #000027;

}
*/

#workspaces button:hover {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	transition-duration: 1.0s;
	background: alpha(@theme_selected_bg_color, 0.3);

	border-radius: 5px;

	border: 1px solid alpha(@theme_selected_bg_color, 0.2);

	opacity: 0.8;
}

box.modules-center {
	all: initial;
	background: alpha(@theme_base_color, 0.0);

	border-radius: 12px;
	border-width: 1px;

	border: 1px solid alpha(@borders, 0.0);

	box-shadow: 0px 0px 0px #070017;

	letter-spacing: 1px;

	padding-left: 2mm;
	padding-right: 2mm;

	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;

}



box.modules-right {
	all: initial;
	background: alpha(@theme_base_color, 0.0);

	border-radius: 12px;
	border-width: 1px;

	border: 1px solid alpha(@borders, 0.0);

	box-shadow: 0px 0px 0px #070017;

	letter-spacing: 1px;

	padding-left: 2mm;
	padding-right: 2mm;

	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;

}

#backlight {
	background: transparent;

	padding: 0px 5px;
	margin: 0px 10px;
	margin-left: 15px;
}

#network-zapret {
	background: transparent;

	padding: 0px 5px;
	margin: 0px 10px;
}

#network {
	background: transparent;

	padding: 0px 0px;
	margin: 0px 0px;
}

#custom-zapret-status {
	background: transparent;
	letter-spacing: -1px;

	padding: 0px 0px;
	margin: 0px 5px;
}

#pulseaudio {
	background: transparent;

	padding: 0px 0px;
	margin: 0px 0px;
}

#pulseaudio.mic {
	background: transparent;

	padding: 0px 0px;
	margin-right: 5px;
}

#sound {
	background: transparent;

	padding: 0px 5px;
	margin: 0px 10px;
}

#cpu-temp {
	background: transparent;

	transition-duration: 0.5s;
	padding: 0px 5px;
	margin: 0px 10px;
}

#cpu {
	background: transparent;

	transition-duration: 0.5s;
	padding: 0px 0px;
	margin: 0px 0px;
}

#cpu:hover {
	background: transparent;
	transition-duration: 0.5s;
	color: #F2CFA7;
}

#cpu.critical {
	background: transparent;
	transition-duration: 0.5s;
	color: #822A31;
}

#temperature {
	background: transparent;

	transition-duration: 0.5s;
	padding: 0px 0px;
	margin: 0px 7px;
}

#temperature:hover {
	background: transparent;
	transition-duration: 0.5s;
	color: #3664A5;
}

#temperature.critical {
	background: transparent;
	transition-duration: 0.5s;
	color: #822A31;
}

#battery {
	background: transparent;

	transition-duration: 0.5s;
	padding: 0px 5px;
	margin: 0px 10px;
}

#battery.good:hover {
	background: transparent;
	transition-duration: 0.5s;
	color: #7FAB7D;
}

#battery.warning:hover {
	background: transparent;
	transition-duration: 0.5s;
	color: #F6C080;
}

#battery.critical {
	background: transparent;
	transition-duration: 0.5s;
	color: #822A31;
}

#battery.charging:hover {
	background: transparent;
	transition-duration: 0.5s;
	color: #7FAB7D;
}

#memory {
	background: transparent;

	transition-duration: 0.5s;
	padding: 0px 5px;
	margin: 0px 10px;
}

#memory:hover {
	background: transparent;
	transition-duration: 0.5s;
	color: #F0EEA5;
}

#language {
	background: transparent;
	letter-spacing: 0px;

	padding: 0px 5px;
	margin: 0px 10px;
}

#clock {
	padding: 0px 5px;
	margin: 0px 10px;
}

#tray {
	background: transparent;

	padding: 0px 5px;
	margin: 0px 10px;
}

#tray menu {
	border: 1px solid @borders;
	border-radius: 0px;
}

/*
#tray menuitem:hover {
transition-duration: 0.2s;
background: #6D39AF;
border: 0px solid rgba(109, 57, 175, 0.2);
border-radius: 12px;
}
*/

tooltip {
	background: alpha(@theme_base_color, 1.0);
	border: 1px solid @borders;
	border-radius: 0px;
}
