
layout {

    focus-ring {
        width 1.0
        inactive-color "#50005035"
        active-gradient from="#72359c3f" to="5f28815f" in="oklch longer hue" relative-to="workspace-view"
        urgent-gradient from="#daaa5688" to="daaa56ff"
    }
}
