
layout {

    focus-ring {
        width 1.0
        inactive-color "#50005010"
        active-gradient from="#72359c70" to="5f288190" in="oklch longer hue" relative-to="workspace-view"
        urgent-gradient from="#daaa5688" to="daaa56ff"
    }
}
