
layout {

    tab-indicator {
        corner-radius 20
        length total-proportion=0.5
        width 5
        active-gradient from="#72359cfa" to="5f2881fa" in="oklch longer hue"  relative-to="workspace-view"
        inactive-color "#50005035"
    }
}
