
layout {

    tab-indicator {
        corner-radius 20
        length total-proportion=0.8
        width 3
        active-gradient from="#72359cff" to="5f2881ff" in="oklch longer hue"  
        inactive-color "#50005035"
    }
}
