binds {
    Mod+Left { focus-monitor-left; }
    Mod+Down { focus-monitor-down; }
    Mod+Up { focus-monitor-up; }
    Mod+Right { focus-monitor-right; }

    Mod+Shift+Left { move-workspace-to-monitor-left; }
    Mod+Shift+Down { move-workspace-to-monitor-down; }
    Mod+Shift+Up { move-workspace-to-monitor-up; }
    Mod+Shift+Right { move-workspace-to-monitor-right; }
}
