binds {
    Mod+Alt+H { move-column-left; }
    Mod+Alt+J { move-window-down; }
    Mod+Alt+K { move-window-up; }
    Mod+Alt+L { move-column-right; }

    Mod+Comma { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }
    Mod+Alt+Comma { consume-or-expel-window-left; }
    Mod+Alt+Period { consume-or-expel-window-right; }

    Mod+Alt+Home { move-column-to-first; }
    Mod+Alt+End { move-column-to-last; }

    Mod+Alt+N { move-window-to-workspace-down; }
    Mod+Alt+P { move-window-to-workspace-up; }

    Mod+Alt+WheelScrollDown cooldown-ms=150 { move-column-right; }
    Mod+Alt+WheelScrollUp cooldown-ms=150 { move-column-left; }

    Mod+Alt+WheelScrollRight { move-column-right; }
    Mod+Alt+WheelScrollLeft { move-column-left; }
}
