binds {
    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Comma { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }
    Mod+Shift+Comma { consume-or-expel-window-left; }
    Mod+Shift+Period { consume-or-expel-window-right; }

    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End { move-column-to-last; }

    Mod+Shift+N { move-window-to-workspace-down; }
    Mod+Shift+P { move-window-to-workspace-up; }

    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-right; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { move-column-left; }

    Mod+Shift+WheelScrollRight { move-column-right; }
    Mod+Shift+WheelScrollLeft { move-column-left; }
}
