binds {
    Mod+Shift+H { set-column-width "-10%"; }
    Mod+Shift+J { set-window-height "-10%"; }
    Mod+Shift+K { set-window-height "+10%"; }
    Mod+Shift+L { set-column-width "+10%"; }

    Mod+Shift+R { switch-preset-column-width; }
    Mod+Shift+V { switch-preset-window-height; }
    Mod+Shift+E { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Shift+M { maximize-window-to-edges; }
    Mod+Shift+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Shift+T { toggle-column-tabbed-display; }
}
